{
  "proseWrap": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "daily/verhalen/**/*.md",
      "options": {
        "proseWrap": "never"
      }
    }
  ]
}
